{% block title %}Login Page{% endblock %}

{% block content %}
<form action="#" method="post">
	<p>Name:</p>
	<p><input type="text" name="nm" /></p>
	<p>Tender Description:</p>
	<p><input type="text" name="v33" /></p>
	<p>e-Tender ID No:</p>
	<p><input type="text" name="v43" /></p>
	<p>eNIT No.:</p>
	<p><input type="text" name="v53" /></p>
	<p>Work Sl. No.:</p>
	<p><input type="text" name="v63" /></p>
	<p>Capacity Of the Applicant (Partner,Propareator,Individual):</p>
	<p><input type="text" name="v83" /></p>
	<p>Date</p>
	<p><input type="text" name="v93" /></p>
	<p>Name Of  Applicant:</p>
	<p><input type="text" name="v103" /></p>
	<p>PAN</p>
	<p><input type="text" name="v113" /></p>
	<p>GST Registration No.:</p>
	<p><input type="text" name="v123" /></p>
	<p>Office Address:</p>
	<p><input type="text" name="v133" /></p>
	<p>Telephone No.(s) (Office):</p>
	<p><input type="text" name="v143" /></p>
	<p>FAX No:</p>
	<p><input type="text" name="v153" /></p>
	<p>Mobile No.:</p>
	<p><input type="text" name="v163" /></p>
	<p>E-Mail Address:</p>
	<p><input type="text" name="v173" /></p>
	<p>Beneficiaries Name, Bank Name with IFSC Code & A/c No. (Mandate):</p>
	<p><input type="text" name="v183" /></p>
	<p>Details of Technical Staff available:</p>
	<p><input type="text" name="v193" /></p>
	<p>Annual Turnover(2020-21):</p>
	<p><input type="text" name="v233" /></p>
	<p>Annual Turnover(2019-20):</p>
	<p><input type="text" name="v234" /></p>
	<p>Annual Turnover(2018-19):</p>
	<p><input type="text" name="v235" /></p>
	<p>Annual Turnover(2018-19):</p>
	<p><input type="text" name="v235" /></p>
	<p>Dated This :<input type="text" name="v213" />Day Of:<input type="text" name="v215" />202<input type="text" name="v217" /></p>
	<p>Name of Employer:</p>
	<p><input type="text" name="v262" /></p>
	<p><input type="text" name="v272" /></p>
	<p><input type="text" name="v282" /></p>
	<p><input type="text" name="v292" /></p>
	<p><input type="text" name="v302" /></p>
	<p>Name, location and nature of work:</p>
	<p><input type="text" name="v263" /></p>
	<p><input type="text" name="v273" /></p>
	<p><input type="text" name="v283" /></p>
	<p><input type="text" name="v293" /></p>
	<p><input type="text" name="v303" /></p>
	<p>Reference of Work Order (Memo. No. and Date):</p>
	<p><input type="text" name="v264" /></p>
	<p><input type="text" name="v274" /></p>
	<p><input type="text" name="v284" /></p>
	<p><input type="text" name="v294" /></p>
	<p><input type="text" name="v304" /></p>
	<p>Contract Value:</p>
	<p><input type="text" name="v265" /></p>
	<p><input type="text" name="v275" /></p>
	<p><input type="text" name="v285" /></p>
	<p><input type="text" name="v295" /></p>
	<p><input type="text" name="v305" /></p>
	<p>Date of Commencement:</p>
	<p><input type="text" name="v266" /></p>
	<p><input type="text" name="v276" /></p>
	<p><input type="text" name="v286" /></p>
	<p><input type="text" name="v296" /></p>
	<p><input type="text" name="v306" /></p>
	<p>Present Status (If completed,please mention date of completion):</p>
	<p><input type="text" name="v267" /></p>
	<p><input type="text" name="v277" /></p>
	<p><input type="text" name="v287" /></p>
	<p><input type="text" name="v297" /></p>
	<p><input type="text" name="v307" /></p>
	<p><input type="submit" value="submit"/></p>
</form>
{% endblock %}