<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Runway</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" media="all">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body>
    <form action="#" class="was-validated" method="post" enctype="multipart/form-data">
        <div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
            <div class="wrapper wrapper--w790">
                <div class="card card-5">
                    <div class="card-heading">
                        <h2 class="title">PHE Form</h2>
                    </div>
                        <div class="card-body">
                            <ul id="progressbar">
                                <li class="active">Account Setup</li>
                                <li>Social Profiles</li>
                                <li>Personal Details</li>
                              </ul>
                            <div class="form-row">
                                <div class="name">Company Name:</div>
                                <div class="value">
                                    <div class="input-group">
                                        <input type="text" class="input--style-5" id="uname" name="nm" required>
                                        <div class="valid-feedback">Valid.</div>
                                        <div class="invalid-feedback">Please fill out this field.</div>
                                    </div>
                                </div>
                                <div class="name">Tender Description:</div>
                                <div class="value">
                                    <div class="input-group">
                                        <input class="input--style-5" type="text" name="v33">
                                        <div class="valid-feedback">Valid.</div>
                                        <div class="invalid-feedback">Invalid.</div>
                                    </div>
                                </div>
                                <div class="name">e-Tender ID No:</div>
                                <div class="value">
                                    <div class="input-group">
                                        <input class="input--style-5" type="text" name="v43">
                                        <div class="valid-feedback">Valid.</div>
                                        <div class="invalid-feedback">Invalid.</div>
                                    </div>
                                </div>
                                <div class="name">eNIT No.:</div>
                                <div class="value">
                                    <div class="input-group">
                                        <input class="input--style-5" type="text" name="v53">
                                        <div class="valid-feedback">Valid.</div>
                                        <div class="invalid-feedback">Invalid.</div>
                                    </div>
                                </div>
                                <div class="name">Work Sl. No.:</div>
                                <div class="value">
                                    <div class="input-group">
                                        <input class="input--style-5" type="text" name="v63">
                                        <div class="valid-feedback">Valid.</div>
                                        <div class="invalid-feedback">Invalid.</div>
                                    </div>
                                </div>
                                <div class="name">Capacity Of the Applicant (Partner,Propareator,Individual)</div>
                                <div class="value">
                                    <div class="input-group">
                                        <input class="input--style-5" type="text" name="v83">
                                        <div class="valid-feedback">Valid.</div>
                                        <div class="invalid-feedback">Invalid.</div>
                                    </div>
                                </div>
                                <div class="name">Name Of  Applicant:</div>
                                <div class="value">
                                    <div class="input-group">
                                        <input class="input--style-5" type="text" name="v103">
                                        <div class="valid-feedback">Valid.</div>
                                        <div class="invalid-feedback">Invalid.</div>
                                    </div>
                                </div>
                                <div class="name">PAN</div>
                                <div class="value">
                                    <div class="input-group">
                                        <input class="input--style-5" type="text" pattern="[A-Z]+[A-Z]+[A-Z]+[A-Z]+[A-Z]+[0-9]+[0-9]+[0-9]+[0-9]+[A-Z]" name="v113">
                                        <div class="valid-feedback">Valid.</div>
                                        <div class="invalid-feedback">Invalid.</div>
                                    </div>
                                </div>
                                <div class="name">GST Registration No.:</div>
                                <div class="value">
                                    <div class="input-group">
                                        <input class="input--style-5" type="text" pattern="[0-9A-Z]+[0-9A-Z]+[A-Z]+[A-Z]+[A-Z]+[A-Z]+[A-Z]+[0-9]+[0-9]+[0-9]+[0-9]+[A-Z]+[0-9A-Z]+[0-9A-Z]+[0-9A-Z]" name="v123">
                                        <div class="valid-feedback">Valid.</div>
                                        <div class="invalid-feedback">Invalid.</div>
                                    </div>
                                </div>
                                <div class="name">Office Address:</div>
                                <div class="value">
                                    <div class="input-group">
                                        <input class="input--style-5" type="text" name="v133">
                                        <div class="valid-feedback">Valid.</div>
                                        <div class="invalid-feedback">Invalid.</div>
                                    </div>
                                </div>
                                <div class="name">Telephone No.(s) (Office):</div>
                                <div class="value">
                                    <div class="input-group">
                                        <input class="input--style-5" type="tel" pattern=".{10}" name="v143">
                                        <div class="valid-feedback">Valid.</div>
                                        <div class="invalid-feedback">Incorrect format.</div>
                                    </div>
                                </div>
                                <div class="name">FAX No:</div>
                                <div class="value">
                                    <div class="input-group">
                                        <input class="input--style-5" type="number" name="v153">
                                        <div class="valid-feedback">Valid.</div>
                                        <div class="invalid-feedback">Incorrect format.</div>
                                    </div>
                                </div>
                                <div class="name">Mobile No.:</div>
                                <div class="value">
                                    <div class="input-group">
                                        <input class="input--style-5" type="tel" pattern=".{10}" name="v163">
                                        <div class="valid-feedback">Valid.</div>
                                        <div class="invalid-feedback">Incorrect format.</div>
                                    </div>
                                </div>
                                <div class="name">E-Mail Address:</div>
                                <div class="value">
                                    <div class="input-group">
                                        <input class="input--style-5" type="email" name="v173">
                                        <div class="valid-feedback">Valid.</div>
                                        <div class="invalid-feedback">Incorrect format.</div>
                                    </div>
                                </div>
                                <div class="name">Beneficiaries Name, Bank Name with IFSC Code & A/c No. (Mandate):</div>
                                <div class="value">
                                    <div class="input-group">
                                        <input class="input--style-5" type="text" name="v183">
                                        <div class="valid-feedback">Valid.</div>
                                        <div class="invalid-feedback">Invalid.</div>
                                    </div>
                                </div>
                                <div class="name">Details of Technical Staff available:</div>
                                <div class="value">
                                    <div class="input-group">
                                        <input class="input--style-5" type="text" name="v193">
                                        <div class="valid-feedback">Valid.</div>
                                        <div class="invalid-feedback">Invalid.</div>
                                    </div>
                                </div>
                                <div class="name">Annual Turnover(2020-21):</div>
                                <div class="value">
                                    <div class="input-group">
                                        <input class="input--style-5" type="number" name="v233">
                                        <div class="valid-feedback">Valid.</div>
                                        <div class="invalid-feedback">Invalid.</div>
                                    </div>
                                </div>
                                <div class="name">Annual Turnover(2019-20):</div>
                                <div class="value">
                                    <div class="input-group">
                                        <input class="input--style-5" type="number" name="v234">
                                        <div class="valid-feedback">Valid.</div>
                                        <div class="invalid-feedback">Invalid.</div>
                                    </div>
                                </div>
                                <div class="name">Annual Turnover(2018-19):</div>
                                <div class="value">
                                    <div class="input-group">
                                        <input class="input--style-5" type="number" name="v235">
                                        <div class="valid-feedback">Valid.</div>
                                        <div class="invalid-feedback">Invalid.</div>
                                    </div>
                                </div>
                                <div class="col">
                                    <h3>Upload Signature :</h3>
                                    <h6>(.jpg/.jpge/.png)</h6>
                                </div>
                                <div class="col">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" name="image" id="image" required>
                                        <div class="valid-feedback">Valid.</div>
                                        <div class="invalid-feedback">Incorrect format.</div>
                                      </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <h1>Work Experience 1 :</h1>
                            </div>
                            <div class="form-row">
                                <div class="name">Name of Employer:</div>
                                <div class="value">
                                    <div class="input-group">
                                        <input class="input--style-5" type="text" name="v262">
                                        <div class="valid-feedback">Valid.</div>
                                        <div class="invalid-feedback">Invalid.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="name">Name, location and nature of work:</div>
                                    <div class="value">
                                        <div class="input-group">
                                            <input class="input--style-5" type="text" name="v263">
                                            <div class="valid-feedback">Valid.</div>
                                            <div class="invalid-feedback">Invalid.</div>
                                        </div>
                                    </div>
                            </div>
                            <div class="form-row">
                                <div class="name">Reference of Work Order (Memo. No. and Date):</div>
                                <div class="value">
                                    <div class="input-group">
                                        <input class="input--style-5" type="text" name="v264">
                                        <div class="valid-feedback">Valid.</div>
                                        <div class="invalid-feedback">Invalid.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="name">Contract Value:</div>
                                <div class="value">
                                    <div class="input-group">
                                        <input class="input--style-5" type="number" name="v265">
                                        <div class="valid-feedback">Valid.</div>
                                        <div class="invalid-feedback">Invalid.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="name">Date of Commencement</div>
                                <div class="value">
                                    <div class="input-group">
                                        <input class="input--style-5" type="date" name="v266">
                                        <div class="valid-feedback">Valid.</div>
                                        <div class="invalid-feedback">Invalid.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="name">Present Status (If completed,please mention date of completion):</div>
                                <div class="value">
                                    <div class="input-group">
                                        <input class="input--style-5" type="text" name="v267">
                                        <div class="valid-feedback">Valid.</div>
                                        <div class="invalid-feedback">Invalid.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <h1>Work Experience 2 :</h1>
                            </div>
                            <div class="form-row">
                                <div class="name">Name of Employer:</div>
                                <div class="value">
                                    <div class="input-group">
                                        <input class="input--style-5" type="text" name="v272">
                                        <div class="valid-feedback">Valid.</div>
                                        <div class="invalid-feedback">Invalid.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="name">Name, location and nature of work:</div>
                                    <div class="value">
                                        <div class="input-group">
                                            <input class="input--style-5" type="text" name="v273">
                                            <div class="valid-feedback">Valid.</div>
                                            <div class="invalid-feedback">Invalid.</div>
                                        </div>
                                    </div>
                            </div>
                            <div class="form-row">
                                <div class="name">Reference of Work Order (Memo. No. and Date):</div>
                                <div class="value">
                                    <div class="input-group">
                                        <input class="input--style-5" type="text" name="v274">
                                        <div class="valid-feedback">Valid.</div>
                                        <div class="invalid-feedback">Invalid.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="name">Contract Value:</div>
                                <div class="value">
                                    <div class="input-group">
                                        <input class="input--style-5" type="number" name="v275">
                                        <div class="valid-feedback">Valid.</div>
                                        <div class="invalid-feedback">Invalid.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="name">Date of Commencement</div>
                                <div class="value">
                                    <div class="input-group">
                                        <input class="input--style-5" type="date" name="v276">
                                        <div class="valid-feedback">Valid.</div>
                                        <div class="invalid-feedback">Invalid.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="name">Present Status (If completed,please mention date of completion):</div>
                                <div class="value">
                                    <div class="input-group">
                                        <input class="input--style-5" type="text" name="v277">
                                        <div class="valid-feedback">Valid.</div>
                                        <div class="invalid-feedback">Invalid.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <h1>Work Experience 3 :</h1>
                            </div>
                            <div class="form-row">
                                <div class="name">Name of Employer:</div>
                                <div class="value">
                                    <div class="input-group">
                                        <input class="input--style-5" type="text" name="v282">
                                        <div class="valid-feedback">Valid.</div>
                                        <div class="invalid-feedback">Invalid.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="name">Name, location and nature of work:</div>
                                    <div class="value">
                                        <div class="input-group">
                                            <input class="input--style-5" type="text" name="v283">
                                            <div class="valid-feedback">Valid.</div>
                                        <div class="invalid-feedback">Invalid.</div>
                                        </div>
                                    </div>
                            </div>
                            <div class="form-row">
                                <div class="name">Reference of Work Order (Memo. No. and Date):</div>
                                <div class="value">
                                    <div class="input-group">
                                        <input class="input--style-5" type="text" name="v284">
                                        <div class="valid-feedback">Valid.</div>
                                        <div class="invalid-feedback">Invalid.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="name">Contract Value:</div>
                                <div class="value">
                                    <div class="input-group">
                                        <input class="input--style-5" type="number" name="v285">
                                        <div class="valid-feedback">Valid.</div>
                                        <div class="invalid-feedback">Invalid.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="name">Date of Commencement</div>
                                <div class="value">
                                    <div class="input-group">
                                        <input class="input--style-5" type="date" name="v286">
                                        <div class="valid-feedback">Valid.</div>
                                        <div class="invalid-feedback">Invalid.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="name">Present Status (If completed,please mention date of completion):</div>
                                <div class="value">
                                    <div class="input-group">
                                        <input class="input--style-5" type="text" name="v287">
                                        <div class="valid-feedback">Valid.</div>
                                        <div class="invalid-feedback">Invalid.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <h1>Work Experience 4 :</h1>
                            </div>
                            <div class="form-row">
                                <div class="name">Name of Employer:</div>
                                <div class="value">
                                    <div class="input-group">
                                        <input class="input--style-5" type="text" name="v292">
                                        <div class="valid-feedback">Valid.</div>
                                        <div class="invalid-feedback">Invalid.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="name">Name, location and nature of work:</div>
                                    <div class="value">
                                        <div class="input-group">
                                            <input class="input--style-5" type="text" name="v293">
                                            <div class="valid-feedback">Valid.</div>
                                            <div class="invalid-feedback">Invalid.</div>
                                        </div>
                                    </div>
                            </div>
                            <div class="form-row">
                                <div class="name">Reference of Work Order (Memo. No. and Date):</div>
                                <div class="value">
                                    <div class="input-group">
                                        <input class="input--style-5" type="text" name="v294">
                                        <div class="valid-feedback">Valid.</div>
                                        <div class="invalid-feedback">Invalid.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="name">Contract Value:</div>
                                <div class="value">
                                    <div class="input-group">
                                        <input class="input--style-5" type="number" name="v295">
                                        <div class="valid-feedback">Valid.</div>
                                        <div class="invalid-feedback">Invalid.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="name">Date of Commencement</div>
                                <div class="value">
                                    <div class="input-group">
                                        <input class="input--style-5" type="date" name="v296">
                                        <div class="valid-feedback">Valid.</div>
                                        <div class="invalid-feedback">Invalid.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="name">Present Status (If completed,please mention date of completion):</div>
                                <div class="value">
                                    <div class="input-group">
                                        <input class="input--style-5" type="text" name="v297">
                                        <div class="valid-feedback">Valid.</div>
                                        <div class="invalid-feedback">Invalid.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <h1>Work Experience 5 :</h1>
                            </div>
                            <div class="form-row">
                                <div class="name">Name of Employer:</div>
                                <div class="value">
                                    <div class="input-group">
                                        <input class="input--style-5" type="text" name="v302">
                                        <div class="valid-feedback">Valid.</div>
                                        <div class="invalid-feedback">Invalid.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="name">Name, location and nature of work:</div>
                                    <div class="value">
                                        <div class="input-group">
                                            <input class="input--style-5" type="text" name="v303">
                                            <div class="valid-feedback">Valid.</div>
                                            <div class="invalid-feedback">Invalid.</div>
                                        </div>
                                    </div>
                            </div>
                            <div class="form-row">
                                <div class="name">Reference of Work Order (Memo. No. and Date):</div>
                                <div class="value">
                                    <div class="input-group">
                                        <input class="input--style-5" type="text" name="v304">
                                        <div class="valid-feedback">Valid.</div>
                                        <div class="invalid-feedback">Invalid.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="name">Contract Value:</div>
                                <div class="value">
                                    <div class="input-group">
                                        <input class="input--style-5" type="number" name="v305">
                                        <div class="valid-feedback">Valid.</div>
                                        <div class="invalid-feedback">Invalid.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="name">Date of Commencement</div>
                                <div class="value">
                                    <div class="input-group">
                                        <input class="input--style-5" type="date" name="v306">
                                        <div class="valid-feedback">Valid.</div>
                                        <div class="invalid-feedback">Invalid.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="name">Present Status (If completed,please mention date of completion):</div>
                                <div class="value">
                                    <div class="input-group">
                                        <input class="input--style-5" type="text" name="v307">
                                        <div class="valid-feedback">Valid.</div>
                                        <div class="invalid-feedback">Invalid.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="name">Date</div>
                                <div class="value">
                                    <div class = "col-sm-6">   
                                        <input type = "date" name = "v93" required>
                                        <div class="invalid-feedback">Please select date.</div>  
                                    </div> 
                                </div>
                            </div>



                            <p><input type="submit" class="btn btn-primary" value="submit"/></p>
                    </div>
                </div>
            </div>
        </div>
        
    </form>
    <script src="{{ url_for('static', filename='js/global.js') }}"></script>
</body>
</html>